<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496239669798-kfcu3fuljp8abup6gjm7h5df4ld3dth6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496239669798-kfcu3fuljp8abup6gjm7h5df4ld3dth6</string>
	<key>API_KEY</key>
	<string>AIzaSyC1-yv_28yQu9IR1zNnuySdAm7L6i_ApxI</string>
	<key>GCM_SENDER_ID</key>
	<string>496239669798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloudFirestoreExample</string>
	<key>PROJECT_ID</key>
	<string>flutter-database-8f71a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-database-8f71a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496239669798:ios:adeb1743bbaf3072de2ce7</string>
</dict>
</plist>